<div class="m-cmt">
        <div class="fce">
            <img class="j-flag"  />
        </div>
        <div class="box">
            <div class="ttl"><a class="j-flag" href="">王大锤</a></div>
            <div class="cnt"><p class="j-flag">老司机求动态图番号</p></div>
            <div class="act j-flag">
                <a href="javascript:;" data-action="reply">回复</a>
                <a href="javascript:;" data-action="delete">删除</a>
            </div>
            <div class="j-flag hide">
            	<textarea></textarea>
            	<div class="act j-flag">
                	<a href="#" data-action="reply">发布</a>
            	</div>
            </div>
        </div>
</div>
<div class="replies">
</div>